@import "tailwindcss";
@plugin "daisyui";

body {
  background: #fff;
  min-width: 100vw;
  min-height: 100dvh;
};

.LandingHeading {
  font-size: clamp(1.5rem, 8vw, 3.8rem);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
  color: #62748e;
}